@{
    ViewData["Title"] = "About Us";
}

<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

				<article>
					<section id="banner" style="margin-bottom: 10px;">
						<header style="height:inherit;">
							<div style="margin: 0;
										position: absolute;
										top: 50%;
										left: 50%;
										-ms-transform: translate(-50%, -50%);
										transform: translate(-50%, -50%);
										width:max-content;">
								<div style="font-weight: 600;font-size: 3em;">About Us</div>
							</div>
						</header>
					</section>

					<p>
						D.R.U.I.D., or Digital RPG User Interface Development, is a small software development studio 
						built on a love for RPGs and everything about them. We focus our skills towards making the
						games, tools, and resources that we would want to level up our RPG experience.
					</p>

					<h3>
						What we are working on now
					</h3>
					<p>
						Currently our attention is on our first game Exodus of Tenelar and further developing our 
						core tech to provide a better experience for our users.
					</p>

					<h3>
						Our future plans
					</h3>

					<p>
						Once we have finished v1 of our first projects, we will begin working on a digital tool to make it easier
						for GMs and players to manage in game shopping and resources to use conetnt from Exodus of Tenelar in your 
						favorite TTRPG system.
					</p>
				</article>

		</div>
	</div>
</section>